body{
    background-color: rgb(253,251,251);
    font-family: 'Arvo', serif;
}
header{
    top: 0px;
}


#minha_foto{
    width: 150px;
}
.lado-esquerdo{
    max-width: 40%;
    display: inline-block;
    vertical-align: top;
    margin:5px;
}
.lado-direito{
    max-width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}