body {
  background-color: rgb(253, 251, 251);
  font-family: Arvo, serif;
}

#cabecalho {
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: silver;
}

#titulo {
  text-align: center;
  display: inline-block;
}

#minha_foto {
  width: 50px;
  border-radius: 50%;
  border: 5px solid silver;
  display: inline-block;
}

#listas {
  margin-top: 10%;
}

#licoes_aprendidas {
  max-width: 40%;
  padding: 30px;
  background-color: rgb greenyellow);
  margin-left: 100px;
  display: inline-block;
  color: white;
}

#licoes_a_aprender {
  max-width: 40%;
  padding: 30px;
  background-color: lightcoral;
  margin-left: 150px;
  display: inline-block;
}

table {
  border: 2px solid black;
  margin: auto;
  line-height: 30px;
}

tr , th , td {
  border: 2px solid black;
}

.lado-esquerdo {
  max-width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
}

.lado-direito {
  max-width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

ul , ol {
  font-size: large;
}

li {
  font-size: medium;
}
