body {
  background-color: rgb(253, 251, 251);
  font-family: Arvo, serif;
}

#cabecalho {
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: darkgray;
	opacity: 50%;
}

#titulo {
  text-align: center;
  display: inline-block;
	vertical-align: middle;
}

#minha_foto {
  width: 50px;
  border-radius: 50%;
  border: 5px solid silver;
  display: inline-block;
	vertical-align: middle;
}

#listas {
  margin-top: 10%;
}

#licoes_aprendidas {
  max-width: 40%;
  padding: 30px;
  background-color: lightgreen;
  margin-left: 100px;
  display: inline-block;
	vertical-align: top;
}

#licoes_a_aprender {
  max-width: 40%;
  padding: 30px;
  background-color: lightcoral;
  margin-left: 150px;
  display: inline-block;
	vertical-align: top;
}
p{
	text-align: justify;
}

table {
  border: 2px solid black;
  margin: auto;
  line-height: 30px;
	margin-top: 20px;
	background-color: darkgray;
	text-align: center;
}

caption {
	font-size: large;
	font-weight: 700;
	text-decoration: underline 3px;
}

tr , th , td {
  border: 2px solid black;
	padding: 20px;
}

.lado-esquerdo {
  max-width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
}

.lado-direito {
  max-width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 50px 10px ;
}

ul , ol {
  font-size: large;
}

li {
  font-size: medium;
}
